@font-face {
  font-family: Neicha;
  src: url("../assets/font/Neucha.ttf");
}

:root {
  --color-tree-green: #278d9f;
  --color-tree-green-transparent: rgba(31, 112, 127, 0.3);
  --color-black: #121c1e;
  --color-dark: #314c52;
  --color-back-transparent: rgba(31, 112, 127, 0.3);
  --color-dark-transparent: rgba(49, 76, 82, 0.7);
  --color-white: #ffffff;
  --color-white-transparent: rgb(255, 255, 255, 0.2);
  --color-cyan: #24c5db;
  --color-silver: #c0c0c0;
  --color-gold: #cdad00;
  --color-yellow: #fdd700;
  --color-yellow-transparent: rgb(253, 215, 0, 0.2);
  --color-red: #fd0000;
  --color-red-transparent: rgb(253, 0, 0, 0.2);
  --color-blue: #2299eb;
  --color-blue-transparent: rgb(34, 153, 235, 0.2);
  --color-green: #08aa05;
  --color-green-transparent: rgb(8, 170, 5, 0.2);
  --color-shadow: rgba(8, 136, 136, 0.9);
  --color-background-dark: #033131;
  --color-steel: #bcbcbc;
  --color-milk: rgba(255, 255, 255, 0.5);
}

html {
  font-size: 10px;
}
