@import "./definitions.css";

.lights {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 7rem;
  width: 100%;
  height: 100%;
}

.lights-level {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.bulb {
  z-index: 11;
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 50%;
  margin: 0.25rem;
  display: inline-block;
  animation-duration: 2s;
}

.bulb-white {
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white);
  animation-name: flash-1-white;
}
.bulb-white:nth-child(2n + 1) {
  background: var(--color-white);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white-transparent);
  animation-name: flash-2-white;
  animation-duration: 0.4s;
}
.bulb-white:nth-child(4n + 2) {
  background: var(--color-white);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white);
  animation-name: flash-3-white;
  animation-duration: 1.1s;
}
.bulb-white:nth-child(odd) {
  animation-duration: 1.8s;
}
.bulb-white:nth-child(3n + 1) {
  animation-duration: 1.4s;
}

@keyframes flash-1-white {
  0%,
  100% {
    background: var(--color-white);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white);
  }
  50% {
    background: 0 0.1rem 1rem 0.3rem var(--color-white-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white-transparent);
  }
}
@keyframes flash-2-white {
  0%,
  100% {
    background: var(--color-white);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white);
  }
  50% {
    background: var(--color-white-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white-transparent);
  }
}
@keyframes flash-3-white {
  0%,
  100% {
    background: var(--color-white);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white);
  }
  50% {
    background: var(--color-white-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white-transparent);
  }
}

.bulb-yellow {
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow);
  animation-name: flash-1-yellow;
}
.bulb-yellow:nth-child(2n + 1) {
  background: var(--color-yellow);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow-transparent);
  animation-name: flash-2-yellow;
  animation-duration: 0.4s;
}
.bulb-yellow:nth-child(4n + 2) {
  background: var(--color-yellow);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow);
  animation-name: flash-3-yellow;
  animation-duration: 1.1s;
}
.bulb-yellow:nth-child(odd) {
  animation-duration: 1.8s;
}
.bulb-yellow:nth-child(3n + 1) {
  animation-duration: 1.4s;
}

@keyframes flash-1-yellow {
  0%,
  100% {
    background: var(--color-yellow);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow);
  }
  50% {
    background: 0 0.1rem 1rem 0.3rem var(--color-yellow-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow-transparent);
  }
}
@keyframes flash-2-yellow {
  0%,
  100% {
    background: var(--color-yellow);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow);
  }
  50% {
    background: var(--color-yellow-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow-transparent);
  }
}
@keyframes flash-3-yellow {
  0%,
  100% {
    background: var(--color-yellow);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow);
  }
  50% {
    background: var(--color-yellow-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow-transparent);
  }
}

.bulb-red {
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red);
  animation-name: flash-1-red;
}
.bulb-red:nth-child(2n + 1) {
  background: var(--color-red);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red-transparent);
  animation-name: flash-2-red;
  animation-duration: 0.4s;
}
.bulb-red:nth-child(4n + 2) {
  background: var(--color-red);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red);
  animation-name: flash-3-red;
  animation-duration: 1.1s;
}
.bulb-red:nth-child(odd) {
  animation-duration: 1.8s;
}
.bulb-red:nth-child(3n + 1) {
  animation-duration: 1.4s;
}

@keyframes flash-1-red {
  0%,
  100% {
    background: var(--color-red);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red);
  }
  50% {
    background: 0 0.1rem 1rem 0.3rem var(--color-red-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red-transparent);
  }
}
@keyframes flash-2-red {
  0%,
  100% {
    background: var(--color-red);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red);
  }
  50% {
    background: var(--color-red-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red-transparent);
  }
}
@keyframes flash-3-red {
  0%,
  100% {
    background: var(--color-red);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red);
  }
  50% {
    background: var(--color-red-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red-transparent);
  }
}

.bulb-green {
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green);
  animation-name: flash-1-green;
}
.bulb-green:nth-child(2n + 1) {
  background: var(--color-green);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green-transparent);
  animation-name: flash-2-green;
  animation-duration: 0.4s;
}
.bulb-green:nth-child(4n + 2) {
  background: var(--color-green);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green);
  animation-name: flash-3-green;
  animation-duration: 1.1s;
}
.bulb-green:nth-child(odd) {
  animation-duration: 1.8s;
}
.bulb-green:nth-child(3n + 1) {
  animation-duration: 1.4s;
}

@keyframes flash-1-green {
  0%,
  100% {
    background: var(--color-green);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green);
  }
  50% {
    background: 0 0.1rem 1rem 0.3rem var(--color-green-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green-transparent);
  }
}
@keyframes flash-2-green {
  0%,
  100% {
    background: var(--color-green);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green);
  }
  50% {
    background: var(--color-green-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green-transparent);
  }
}
@keyframes flash-3-green {
  0%,
  100% {
    background: var(--color-green);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green);
  }
  50% {
    background: var(--color-green-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green-transparent);
  }
}

.bulb-blue {
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue);
  animation-name: flash-1-blue;
}
.bulb-blue:nth-child(2n + 1) {
  background: var(--color-blue);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue-transparent);
  animation-name: flash-2-blue;
  animation-duration: 0.4s;
}
.bulb-blue:nth-child(4n + 2) {
  background: var(--color-blue);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue);
  animation-name: flash-3-blue;
  animation-duration: 1.1s;
}
.bulb-blue:nth-child(odd) {
  animation-duration: 1.8s;
}
.bulb-blue:nth-child(3n + 1) {
  animation-duration: 1.4s;
}

@keyframes flash-1-blue {
  0%,
  100% {
    background: var(--color-blue);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue);
  }
  50% {
    background: 0 0.1rem 1rem 0.3rem var(--color-blue-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue-transparent);
  }
}
@keyframes flash-2-blue {
  0%,
  100% {
    background: var(--color-blue);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue);
  }
  50% {
    background: var(--color-blue-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue-transparent);
  }
}
@keyframes flash-3-blue {
  0%,
  100% {
    background: var(--color-blue);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue);
  }
  50% {
    background: var(--color-blue-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue-transparent);
  }
}

.bulb-mltclr {
  background: var(--color-white);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white);
  animation-name: flash-1-mltclr;
  animation-duration: 2s;
}
.bulb-mltclr:nth-child(5n + 1) {
  background: var(--color-yellow);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow-transparent);
  animation-name: flash-2-mltclr;
  animation-duration: 1s;
}
.bulb-mltclr:nth-child(5n + 2) {
  background: var(--color-red);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red);
  animation-name: flash-3-mltclr;
  animation-duration: 1.4s;
}
.bulb-mltclr:nth-child(5n + 3) {
  background: var(--color-green);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green-transparent);
  animation-name: flash-4-mltclr;
  animation-duration: 1;
}
.bulb-mltclr:nth-child(5n + 4) {
  background: var(--color-blue);
  box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue-transparent);
  animation-name: flash-5-mltclr;
  animation-duration: 1.8;
}

.bulb-mltclr:nth-child(odd) {
  animation-duration: 1.8s;
}
.bulb-mltclr:nth-child(3n + 1) {
  animation-duration: 1.4s;
}

@keyframes flash-1-mltclr {
  0%,
  100% {
    background: var(--color-white);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white);
  }
  50% {
    background: var(--color-white-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-white-transparent);
  }
}
@keyframes flash-2-mltclr {
  0%,
  100% {
    background: var(--color-yellow);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow);
  }
  50% {
    background: var(--color-yellow-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-yellow-transparent);
  }
}
@keyframes flash-3-mltclr {
  0%,
  100% {
    background: var(--color-red);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red);
  }
  50% {
    background: var(--color-red-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-red-transparent);
  }
}

@keyframes flash-4-mltclr {
  0%,
  100% {
    background: var(--color-green);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green);
  }
  50% {
    background: var(--color-green-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-green-transparent);
  }
}

@keyframes flash-5-mltclr {
  0%,
  100% {
    background: var(--color-blue);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue);
  }
  50% {
    background: var(--color-blue-transparent);
    box-shadow: 0 0.1rem 1rem 0.3rem var(--color-blue-transparent);
  }
}
