@import "./definitions.css";

.ornaments-page {
  box-sizing: border-box;
  min-height: 100%;
}

.blur {
  background: rgba(22, 41, 41, 0.5);
  backdrop-filter: blur(0.3rem);
  height: 100%;
  min-height: calc(100vh - 7rem);
  width: 100%;
}

.parameters-section {
  position: relative;
  top: 7rem;
  box-sizing: border-box;
  width: 30vw;
  margin: 2rem;
  padding: 2rem;
  background-color: var(--color-back-transparent);
  border-radius: 2rem;
}

.sorting {
  margin: 1rem;
  padding: 0.5rem;
  width: 24rem;
  color: var(--color-white);
  background-color: var(--color-dark);
  border-color: var(--color-tree-green);
  font-size: 1.4rem;
}

.sorting:focus {
  border-color: var(--color-tree-green);
  box-shadow: 0 0 0.1rem 0.3rem var(--color-dark-transparent);
  outline: none;
}

.filters-shape .button {
  box-sizing: border-box;
  width: 4rem;
  height: 4rem;
  border: none;
  margin: 1rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.filters-shape .button:hover {
  width: 4rem;
  height: 4rem;
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg)
    brightness(89%) contrast(90%);
}

.filters-active-button {
  width: 4rem;
  height: 4rem;
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg)
    brightness(83%) contrast(88%);
}

.filters-shape .ball {
  background-image: url(../assets/svg/ball.svg);
}

.filters-shape .bell {
  background-image: url(../assets/svg/bell.svg);
}

.filters-shape .cone {
  background-image: url(../assets/svg/cone.svg);
}

.filters-shape .snowflake {
  background-image: url(../assets/svg/snowflake.svg);
}

.filters-shape .toy {
  background-image: url(../assets/svg/toy.svg);
}

.filters-color .button-color {
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 2rem;
  border: none;
  cursor: pointer;
}

.filters-color-active-button {
  border: 0.1rem solid var(--color-white);
}

.filters-color .button-color:hover {
  border: 0.1rem solid var(--color-white);
}

.filters-color .white {
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-white);
}

.filters-color .yellow {
  background-color: var(--color-yellow);
  border: 0.1rem solid var(--color-yellow);
}

.filters-color .red {
  background-color: var(--color-red);
  border: 0.1rem solid var(--color-red);
}

.filters-color .blue {
  background-color: var(--color-blue);
  border: 0.1rem solid var(--color-blue);
}

.filters-color .green {
  background-color: var(--color-green);
  border: 0.1rem solid var(--color-green);
}

.span-color {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.25em;
  text-align: center;
  vertical-align: middle;
}

.span-color::after {
  content: "\2713";
}

.filters-size .button-size {
  width: 5rem;
  height: 5rem;
  background-image: url(../assets/svg/ball.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-position: center center;
  cursor: pointer;
}

.filters-size .button-size:hover {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg)
    brightness(89%) contrast(90%);
}

.filters-size .big {
  background-size: 4rem 4rem;
}

.filters-size .medium {
  background-size: 3.5rem 3.5rem;
}

.filters-size .small {
  background-size: 3rem 3rem;
}

.input-favorite {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.input-favorite + label span {
  border: 0.1rem solid var(--color-tree-green);
  border-radius: 0.5rem;
  font-size: 2.4rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 0.25em;
  margin: 0.4rem 0.8rem 0.8rem 0.8rem;
  padding: 0.2rem;
  text-align: center;
  vertical-align: middle;
}

.input-favorite:checked + label span::after {
  content: "\2713";
}

.reset {
  align-self: center;
  width: 30rem;
  margin: 2rem;
  border: 0.1rem var(--color-tree-green) solid;
  background-color: var(--color-dark);
  border-radius: 2rem;
  padding: 0.5rem;
  color: var(--color-white);
  font-size: 1.6rem;
}

.reset-pressed {
  transform: scale(0.9);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
}

.no-by-filters {
  color: var(--color-tree-green);
  font-size: 2.4rem;
  text-transform: none;
}

@media (max-width: 1470px) {
  .parameters-section {
    top: 7.5rem;
    margin: 1rem;
    padding: 1rem;
  }

  .sorting-settings {
    flex-direction: column;
  }

  .filters-shape,
  .filters-amount,
  .filters-year,
  .filters-color {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .filters-size,
  .filters-favorite {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .filters-shape {
    flex-direction: column;
  }

  .mark {
    max-width: 5rem;
    max-height: 2.5rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .reset {
    width: 26rem;
  }

  .cards {
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
}

@media (max-width: 1170px) {
  .sorting {
    width: 22rem;
    font-size: 1.4rem;
  }

  .filters-shape .button {
    margin: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  .filters-color {
    flex-direction: column;
  }

  .filters-color .button-color {
    width: 2rem;
    height: 2rem;
  }

  .filters-size .button-size {
    width: 4rem;
    height: 4rem;
  }

  .reset {
    width: 24rem;
  }
}

@media (max-width: 800px) {
  .reset {
    width: 20rem;
  }

  .slider {
    position: relative;
  }

  .filters-amount,
  .filters-year {
    height: 10rem;
  }

  .mark {
    position: absolute;
    top: 4rem;
    margin-bottom: 1rem;
  }

  .min-amount-mark,
  .min-year-mark {
    left: 0.5rem;
  }

  .max-amount-mark,
  .max-year-mark {
    left: calc(30vw - 8rem);
  }
}
