* {
  box-sizing: border-box;
}

body {
  color: #fff;
}

.fa-snowflake {
  z-index: 15;
  color: #fff;
  position: absolute;
  top: -20px;
  animation-name: snowflakes-fall;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

.snowflake:nth-of-type(2n) {
  left: 1%;
  animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(2n + 1) {
  left: 10%;
  animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2n + 2) {
  left: 20%;
  animation-delay: 4s, 0.5s;
}

.snowflake:nth-of-type(2n + 3) {
  left: 30%;
  animation-delay: 4s, 2s;
}
