@import "./definitions.css";

/*.main {
  top: 0;
  min-height: calc(100vh - 7rem);
}*/

.start-page {
  box-sizing: border-box;
  height: calc(100vh - 7rem);
  /*height: 100%;*/
}

.start-page .wrapper-vertical {
  box-sizing: border-box;
  min-height: calc(100vh - 7rem);
  height: calc(100% - 50vh);
  padding: 20vh;
  padding-top: 30vh;
}

.ball-1 {
  position: absolute;
  top: 35vh;
  left: 25vw;
  width: 35rem;
  height: 77rem;
  background-image: url("../assets/ball/1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.ball-1::before {
  content: "";
  position: absolute;
  top: -35vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.3vw;
  height: 35.5vh;

  background-color: var(--color-steel);
}

.ball-2 {
  position: absolute;
  top: 30vh;
  left: 65vw;
  width: 22rem;
  height: 44.5rem;
  background-image: url("../assets/ball/2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.ball-2::before {
  content: "";
  position: absolute;
  top: -35vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.2vw;
  height: 35.5vh;

  background-color: var(--color-steel);
}

.heading {
  z-index: 1;
  justify-content: space-around;
  margin: 0 auto;
  width: 60rem;
  height: 25rem;
  padding: 3rem;
  background-color: var(--color-back-transparent);
  border: 0.1rem solid var(--color-tree-green);
  border-radius: 2rem;
  backdrop-filter: blur(6px);
}

.heading .h2 {
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 6.5rem;
  text-align: center;
}

.button-start {
  z-index: 1;
  align-self: center;
  width: 40rem;
  margin: 2rem;
  border: 0.1rem var(--color-tree-green) solid;
  background-color: var(--color-dark);
  border-radius: 4rem;
  padding: 1rem;
  color: var(--color-white);
  font-family: Neicha;
  font-size: 4rem;
  font-weight: 400;
  cursor: pointer;
}

.button-start-pressed {
  transform: scale(0.9);
}
