.tree-background-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tree-container {
  position: relative;
  width: 50rem;
  height: 71.4rem;
  flex-shrink: 0;
}

.tree-pattern {
  position: absolute;
  margin: 0 auto;
}

.treemap {
  cursor: pointer;
}

.moving {
  cursor: no-drop;
}
